{% extends 'index/base.html' %}

{% block content %}
    <div class="box">
        <img src="../../static/img/tux.png"/>
        <div class="text">
        <h2>Mikä Linux on?</h2>
        <p>Linux on käyttöjärjestelmä niinkuin windows. Linux on vapaata ohjelmistoa joten kuka vaan saa ladata linuxin, muokata sitä ja tehdä sillä mitä haluaa. 
	 Näitä eri muokattuja versioita sanotaan jakeluiksi. Linux voi tarkoittaa käyttöjärjestelmän ydintä joka linux alunperin oli tai sitten linux-käyttöjärjestelmää mistä tässä tekstissä puhutaan. </p>
        </div>
    </div>

    <div class="historia">
        <div class="text">
            <h2>Linuxin synty</h2>
            <p class="text2">Vuonna 1991 suomenruotsalainen tietotekniikka-asiantuntija Linus Torvalds ei ollut tyytyväinen Minix-käyttöjärjestelmän pääte-emulaattoriin joten hän päätti tehdä uuden itse. Tästä päätteestä lopulta muodostui käyttöjärjestelmän ydin joka sai myöhemmin nimekseen linux. 
            </p>
        </div>
    </div>

{% endblock %}
